*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  color: rgb(243, 243, 243);
  background-color: #2a2a2a;
}

body{
  padding: 1rem;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

.all-notes{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.note{
  text-align: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  width: 25%;
  background-color: #424242;
  border-radius: 2rem;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

p{
  font-size: 1.5rem;
}

form{
  width: 100%;
  display: flex; 
  gap: 1rem;
}

.title{
  width: 20%;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
}
.description{
  width: 25%;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
}

button{
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;

  cursor: pointer;
}

button:active{
  transform: scale(0.95);
}