*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  color: rgb(238, 238, 238);
  background-color: #2b2b2b;
}

body{
  padding: 1rem;
}

.all-notes{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.note{
  text-align: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  width: 30%;
  background-color: #494949;
  border-radius: 2rem;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

p{
  font-size: 1.25rem;
}